* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 700px;
    height: 500px;

    display: flex;
    align-items: center;
    flex-direction: column;
}
input{
    width: 300px;
}
button{
    margin-top: 40px;
    width: 60%;
    margin-left: 60px;
}
.label1{
    margin-left: 100px;
    font-size: 20px;

}
.label2{
    margin-left: 85px;
    font-size: 20px;

}


.formulario{
    display: flex;
    /* background-color: #a1abc9; */
    justify-content: center;
    width: 80%;
    margin-top: 40px;
    
}
.logo {
    width: 200px;
    margin-bottom: 10px;
    padding-top: -90px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #1E2741; /* Color del texto del logo */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 8px;
    margin-bottom: 5px;
    text-align: left;
    color: #1E2741; /* Color del texto */
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

input:focus {
    border-color: #1E2741;
}

button {
    background-color: #1E2741;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #162031;
}
